.input-wrapper {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form input, .login-form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px auto 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
.login-form input[type=submit] {
  color: #fff;
  background-color: #128fdc;
  cursor: pointer;
}
