.search-bar-text {
  font-size: 16px;
  background-color: #d0cfcf;
  height: 33px;
  width: 200px;
  border-style: none;
  border-radius: 2px;
	padding-left: 5px;
  transition: ease-in-out, width .35s ease-in-out;
}
.search-bar-text:focus {
	transition: .5s ease;
  background-color: #fff;
  outline: none;
  width: 350px;
}
